// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.business_card {
    border: 1px solid black;
    // shrinks the div to the card size which in most cases here will be the image widht
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background: rgba(0, 0, 0, 0.3);
    // float: left;
}

.bc_img {
    width: 300px;
    height: 350px;
    border-radius: 5px;
}

.bc_name {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 8px;
}

.bc_address {
    margin-top: 8px;
}

.business-card-container {
    display: flex;
    flex-wrap: wrap;
}

.paws {
    margin-top: 4px;
    display: flex;
    flex-wrap: wrap;
}

.paw {
    width: 20px;
    margin-left: 3px;
}