// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.page-top {
    display: flex;
}

.greeting {
    display: flex;
    margin-bottom: 40px;
    // align-items: flex-end;
}

.greet {
    font-size: 30px;
    margin-left: 20px;
}

.page-top-buttons {
    font-size: 20px;
    height: 35px;
    margin-left: 50px;
    // margin-bottom: 20px;
}

.business-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.business_card {
    border: 1px solid black;
    // shrinks the div to the card size which in most cases here will be the image widht
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    background: rgba(0, 0, 0, 0.3);
    // float: left;
}

.bc_name {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.bc_img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.bc_phone {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.bc_address {
    margin-top: 3px;
    font-size: 18px;
}

.bc_type {
    margin-top: 5px;
    margin-bottom: 10px;
}

.rating {
    margin-top: 4px;
    margin-right: 8px;
    font-size: 18px;
    font-weight: bold;
    float: left;
}
.paws {
    margin-top: 13px;
    display: flex;
    flex-wrap: wrap;
}

.paw {
    width: 20px;
    margin-left: 3px;
}

.no-rating-yet {
    margin-top: 14px;
    font-size: 18px;
}

.show-img {
    width: 900px;
}

.show {
    font-size: 30px;
}

.show-paws {
    // margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
}
.show-paw {
    width: 30px;
    margin-left: 3px;
}

.show-rating {
    // margin-top: 4px;
    margin-right: 8px;
    font-size: 30px;
    font-weight: bold;
    float: left;
}

.show-business-info {
    display:flex;

}

.stuff {
    margin-left: 50px;
}

.hours p{
    margin: 0px;
    margin-left: 90px;
    padding: 0px;
    font-size: 20px;
}

.hours-title {
    font-size: 30px;
}
.comments {
    font-size: 30px;
}

.show-home-link {
    font-size: 40px;
}

.comment-paws {
    width: 25px;
}
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        // height: 100%;
        height: 400px;
        width: 400px;
      }

      /* Optional: Makes the sample page fill the window. */
    //   html,
    //   body {
    //     height: 100%;
    //     margin: 0;
    //     padding: 0;
    //   }













